{% extends "base.html" %}

{% block vsebina %}
    <h1>Seznam aktivnih opravil</h1>

<br>
<table border="1">
<tbody>
<tr>
<td >ID opravila</td>
<td >Zadeva opravila</td>
    <td >Dodaten opis</td>
    <td >TED prioriteta</td>
    <td >TAG</td>
    <td >Nastanek</td>
    <td >Koš</td>
    <td >Gumb</td>
</tr>
{% for opravila in seznam %}
<tr>
<td><a href="/opravilo/{{ opravila.key.id() }}">{{ opravila.key.id() }} </a></td>
      <td>{{opravila.zadeva_opravila}}</td>
    <td>{{ opravila.dodaten_opis }}</td>
    <td>{{ opravila.tedenska_prioriteta }}</td>
    <td>{{ opravila.tag }}</td>
    <td>{{ opravila.nastanek }}</td>
    <td>{{ opravila.izbrisano }}</td>

    <td><button>neaktiven gumb</button></td>
</tr>{% endfor %}
</tbody>
</table>
<br>

{% endblock vsebina %}